{%extends "base.html"%}

{%block title%}blog titles{% endblock %}

{%block content %}
<div class="layui-row">
    <div class="layui-col-md-offset5">
            <h1>博客文章一览</h1>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-xs12 layui-col-md8">
        <div class="layui-text" style="font-size: large">
            <ul>
                {%for blog in blogs%}
                <li><a href="{{blog.id}}">{{blog.title}}</a></li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md4">
        <h2>test</h2>
        <p>www.runnoob.com</p>
        <img width=200px src="http://img.hb.aicdn.com/3158851b482bee7f30058f2fe6ad21124d698ada11b7e-fg4mQL_fw658">
    </div>
</div>
{%endblock%}