{% load staticfiles %}
<ul class="layui-nav">
  <li class="layui-nav-item">
    <a href="http://www.runoob.com">链接</a>
  </li>
  <li class="layui-nav-item">
    <a href="">个人中心<span class="layui-badge-dot"></span></a>
  </li>
  <li class="layui-nav-item">
    <a href=""><img src="http://img.hb.aicdn.com/e08fa451f1f2969345e5e1fcac0a5c18ca5e7418108a73-2lRoZp_fw658" class="layui-nav-img">我</a>
    <dl class="layui-nav-child">
      <dd><a href="{%url 'account:user_login'%}">登陆</a></dd>
      <dd><a href="http://localhost:8000/admin">超级用户登录</a></dd>
    </dl>
  </li>
</ul>

